    # 指定代码的压缩级别
    -optimizationpasses 5

    # 包名不混合大小写
    -dontusemixedcaseclassnames

    # 不去忽略非公共的库类
    -dontskipnonpubliclibraryclasses

    # 优化  不优化输入的类文件
    -dontoptimize

    # 预校验
    -dontpreverify

    # 混淆时是否记录日志
    -verbose

    # 混淆时所采用的算法
    -optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

    # 保持哪些类不被混淆
    -keep public class * extends android.app.Fragment
    -keep public class * extends android.app.Activity
    -keep public class * extends android.app.Application
    -keep public class * extends android.app.Service
    -keep public class * extends android.content.BroadcastReceiver
    -keep public class * extends android.content.ContentProvider
    -keep public class * extends android.app.backup.BackupAgentHelper
    -keep public class * extends android.preference.Preference
    -keep public class com.google.vending.licensing.ILicensingService
    -keep public class com.android.vending.licensing.ILicensingService
    # 如果引用了v4或者v7包
    -dontwarn android.support.**
    -dontwarn android.support.v4.**
    -keep class android.support.v4.** { *; }
    -keep interface android.support.v4.** { *; }
    -keep public class * extends android.support.v4.**
    -keep public class * extends android.app.Fragment

    # 高德3D地图
    -keep  class com.amap.api.mapcore.**{*;}
    -keep  class com.amap.api.maps.**{*;}
    -keep  class com.autonavi.amap.mapcore.*{*;}

    # 高德·定位
    -keep class com.amap.api.location.**{*;}
    -keep class com.amap.api.fence.**{*;}
    -keep class com.autonavi.aps.amapapi.model.**{*;}

    # 高德搜索
    -keep class com.amap.api.services.**{*;}

    -keepattributes *Annotation*

    -keep class android.support.v4.** { *; }
    -keep interface android.support.v4.app.** { *; }

    -keep class okio.** {*;}
    -keep class com.squareup.wire.** {*;}

    -keep public class com.tencent.bugly.**{*;}

    -keep class org.android.agoo.impl.* {
        public <fields>;
        public <methods>;
    }

    -keep class org.android.agoo.service.* {*;}

    -keep class org.android.spdy.**{*;}

    -keep public class org.jelsoon.android.debug.R$*{
        public static final int *;
    }

    # 个推消息推送
    -dontwarn com.igexin.**
    -keep class com.igexin.**{*;}

    # 讯飞语音
    -keep class com.iflytek.**{*;}
    -keepattributes Signature

    # 腾讯bugly
    -dontwarn com.tencent.bugly.**
    -keep public class com.tencent.bugly.**{*;}

    # MP4转换器
    -keep class com.coremedia.iso.boxes.** { *; }
    -keep class com.googlecode.mp4parser.boxes.mp4.ESDescriptorBox { *; }
    -keep class com.coremedia.iso.** { *; }
    -keep interface com.coremedia.iso.** { *; }
    -keep class com.mp4parser.** { *; }
    -keep interface com.mp4parser.** { *; }
    -keep class com.googlecode.mp4parser.** { *; }
    -keep interface com.googlecode.mp4parser.** { *; }

    #okhttputils
    -dontwarn com.zhy.http.**
    -keep class com.zhy.http.**{*;}
    -keep interface com.zhy.http.**{*;}

    #okhttp
    -dontwarn okhttp3.**
    -keep class okhttp3.**{*;}
    -keep interface okhttp3.**{*;}

    #okio
    -dontwarn okio.**
    -keep class okio.**{*;}
    -keep interface okio.**{*;}


    # Eventbus
    -keepclassmembers class ** {
        @org.greenrobot.eventbus.Subscribe <methods>;
    }
    -keep enum org.greenrobot.eventbus.ThreadMode { *; }

    # Only required if you use AsyncExecutor
    -keepclassmembers class * extends org.greenrobot.eventbus.util.ThrowableFailureEvent {
        <init>(java.lang.Throwable);
    }

    # If your project uses WebView with JS, uncomment the following # and specify the fully qualified class name to the JavaScript interface # class:
    -keepclassmembers class fqcn.of.javascript.interface.for.webview {
        public *;
    }

    # Butterknife
    -keep class butterknife.** { *; }
    -dontwarn butterknife.internal.**
    -keep class **$$ViewBinder { *; }

    -keepclasseswithmembernames class * {
        @butterknife.* <fields>;
    }

    -keepclasseswithmembernames class * {
        @butterknife.* <methods>;
    }

    # Hellochart
    -keep class lecho.lib.hellocharts.** { *; }

    #Orm混淆建议：
    # 1. 给你要持久化的每一个Java（Model）类设置一个表名：即为类添加@Table("table_name")注解。
    # 2. 给你要持久化的每一个属性（成员变量）设置一个列名： 即为属性加@Column("column_name")注解。
    # 满足1、2则可以将你要持久化的类和者属性随意混淆；
    # 反之，则需要将你要持久化的类和属性keep住，不可混淆。
    # 使用注解
    -keepattributes *Annotation*,Signature,Exceptions,InnerClasses

    # For enumeration classes, see http://proguard.sourceforge.net/manual/examples.html#enumerations
    -keepclassmembers enum * {
       **[] $VALUES;
       public *;
    }

    # 保持混淆时类的实名及行号(--------------- 调试时打开 --------------)
    # -keepattributes SourceFile,LineNumberTable

    # 开发者需要调用，不可以混淆
    -keep public class com.litesuits.orm.LiteOrm { *; }
    -keep public class com.litesuits.orm.db.* { *; }
    -keep public class com.litesuits.orm.db.model.** { *; }
    -keep public class com.litesuits.orm.db.annotation.** { *; }
    -keep public class com.litesuits.orm.db.enums.** { *; }
    -keep public class com.litesuits.orm.log.* { *; }
    -keep public class com.litesuits.orm.db.assit.* { *; }

    # 保持 native 方法不被混淆
    -keepclasseswithmembernames class * {
        native <methods>;
    }

    # 保持指定规则的方法不被混淆（Android layout 布局文件中为控件配置的onClick方法不能混淆）
    -keepclassmembers class * extends android.app.Activity {
        public void *(android.view.View);
    }

    # 保持自定义控件指定规则的方法不被混淆
    -keep public class * extends android.view.View {
        public <init>(android.content.Context);
        public <init>(android.content.Context, android.util.AttributeSet);
        public <init>(android.content.Context, android.util.AttributeSet, int);
        public void set*(...);
        public *** get*();
    }

    # 保持自定义控件类不被混淆
    -keepclasseswithmembers class * {
        public <init>(android.content.Context, android.util.AttributeSet);
    }
    -keepclasseswithmembernames class * {
        public <init>(android.content.Context, android.util.AttributeSet, int);
    }

    # 保持枚举 enum 不被混淆
    -keepclassmembers enum * {
        public static **[] values();
        public static ** valueOf(java.lang.String);
    }

    # UVCCamera
    -keepclassmembers public class com.serenegiant.usb.UVCCamera {
        public *;
        protected *;
        private *;
    }

    # 保持 Parcelable 不被混淆
    -keep class * implements android.os.Parcelable {
        public static final android.os.Parcelable$Creator *;
    }

    # 需要序列化和反序列化的类不能被混淆（注：Java反射用到的类也不能被混淆）
    -keepnames class * implements java.io.Serializable

    # 保持 Serializable 不被混淆并且enum 类也不被混淆
    -keepclassmembers class * implements java.io.Serializable {
        static final long serialVersionUID;
        private static final java.io.ObjectStreamField[] serialPersistentFields;
        !static !transient <fields>;
        !private <fields>;
        !private <methods>;
        private void writeObject(java.io.ObjectOutputStream);
        private void readObject(java.io.ObjectInputStream);
        java.lang.Object writeReplace();
        java.lang.Object readResolve();
    }

    # 过滤泛型（不写可能会出现类型转换错误，一般情况把这个加上就是了）
    -keepattributes Signature

    # 假如项目中有用到注解，应加入这行配置
    -keepattributes *Annotation*

    # 不混淆资源类
    -keepclassmembers class **.R$* {
        public static <fields>;
    }

    # 保护WebView对HTML页面的API不被混淆
    -keep class **.Webview2JsInterface { *; }
    -keep class android.webkit.JavascriptInterface {*;}
    -keepattributes JavascriptInterface
    # 如果你的项目中用到了webview的复杂操作 ，最好加入
    -keepclassmembers class * extends android.webkit.WebViewClient {
        public void *(android.webkit.WebView,java.lang.String,android.graphics.Bitmap);
        public boolean *(android.webkit.WebView,java.lang.String);
    }

    # 忽略警告
    -ignorewarning

    # apk 包内所有 class 的内部结构
    -dump class_files.txt

    # 未混淆的类和成员
    -printseeds seeds.txt

    # 列出从 apk 中删除的代码
    -printusage unused.txt

    # 混淆前后的映射
    -printmapping mapping.txt

    ########记录生成的日志数据，gradle build时 在本项目根目录输出-end######